global
  log /dev/log  local0
  log /dev/log  local1 notice
{% if haproxy_socket != '' %}
  stats socket {{ haproxy_socket }} level admin
{% endif %}
{% if haproxy_chroot != '' %}
  chroot {{ haproxy_chroot }}
{% endif %}
  user {{ haproxy_user }}
  group {{ haproxy_group }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  log global
  option  httplog
  option  dontlognull
{% if haproxy_version is version('1.4', '<=') %}
        contimeout {{ haproxy_connect_timeout }}
        clitimeout {{ haproxy_client_timeout }}
        srvtimeout {{ haproxy_server_timeout }}
{% else %}
        timeout connect {{ haproxy_connect_timeout }}
        timeout client {{ haproxy_client_timeout }}
        timeout server {{ haproxy_server_timeout }}
{% endif %}
{% if ansible_os_family == 'Debian' %}
  errorfile 400 /etc/haproxy/errors/400.http
  errorfile 403 /etc/haproxy/errors/403.http
  errorfile 408 /etc/haproxy/errors/408.http
  errorfile 500 /etc/haproxy/errors/500.http
  errorfile 502 /etc/haproxy/errors/502.http
  errorfile 503 /etc/haproxy/errors/503.http
  errorfile 504 /etc/haproxy/errors/504.http
{% endif %}
{% for front in frontends %}
frontend {{ front.haproxy_frontend_name }}
    bind {{ front.haproxy_frontend_bind_address }}:{{ front.haproxy_frontend_port }}
    mode {{ front.haproxy_frontend_mode }}
{% if front.haproxy_frontend_mode == 'tcp' %}    
    option tcplog
{% elif front.haproxy_frontend_mode == 'http' %}
    option httplog
{% endif %}
    default_backend {{ front.backend_name }}
{% endfor %}

{% for back in backends %}
backend {{ back.haproxy_backend_name }}
    mode {{ back.haproxy_backend_mode }}
    balance {{ back.haproxy_backend_balance_method }}
{% if back.haproxy_backend_mode == 'http' %}
    option httplog
{% elif back.haproxy_backend_mode == 'tcp' %}    
    option tcplog
    option tcp-check
{% endif %}
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
{% for backend in back.haproxy_backend_servers %}
    server {{ backend.name }} {{ backend.address }} cookie {{ backend.name }} check
{% endfor %}
{% endfor %}
